body {
  font-family: 'Sarabun', sans-serif;
}

.font-Kanit {font-family: 'Kanit', sans-serif !important }

.table-detail > tbody > tr > td:first-child {
  font-family: 'Kanit';
  color: brown;
  text-align: right;
  width:50%;
}

.title {font-family: 'Kanit';}

.header1 {
  background: linear-gradient(to top right, #524ad0 10%, #D099FA);
  padding: 4px 12px;
}

.header1 h1 {text-shadow: 2px 2px 4px #000000;}